/custom_widget.java
/JSON oblika delovnega naloga - vlak_ladja_mozaik - nadgradnja za vec modulov.json
/JSON oblika delovnega naloga - vlak_ladja_mozaik - nadgradnja za vec modulov.jsonc
/JSON oblika delovnega naloga - vlak_ladja_mozaik.jsonc
/path
/poskus.html
/poskus_branje_delovnega_naloga.ipynb
/poskus_powershell_interface.py
/remove_atributes
/status_logic.xlsx
/TOLE JE ZGOLJ TXT DATOTEKA.txt
/venv
/Operation_files/finished_orders
/Mixed_files/Analiza_DN
/Operation_files/order_storage
/Operation_files/credentials.json